* {
    font-family: "Kanit", sans-serif;
    color: #1D3557;
    background-color: white;
}

html {
    background-color: #f1faee;
}

nav {
    background-color: #457B9D;
}

nav .navBar {
    color: white;
    font-size: 2.3vh;
}

nav .navBar:hover {
    color: white;
}

#mainNavbar {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.container-fluid {
    background-color: #457B9D;
}

.d-flex {
    background-color: #457B9D;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.Contact {
    margin-right: 3%;
}

/* background color of the body */
body {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f1faee;
}

#title {
    background-color: #f1faee;
}

input[type="text"] {
    background-color: white;
}

.table-container {
    max-height: 548px;
    /* Adjust the height as needed */
    overflow-y: scroll;
    background-color: white;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.table thead {
    position: relative;
    top: 0;
    background-color: #fff;
    /* Adjust background color as needed */
    z-index: 1;
    /* Ensure the header stays above the table rows */
}

.table thead,
.table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.addContactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.container {
    background-color: #A8DADC;
}

.formElement {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

label {
    width: 17%;
}

.btn {
    font-family: "Kanit", sans-serif;
    border: 1px solid #1D3557 !important;
}

.btn-custom {
    background-color: #c6303c;
    /* Deep teal background */
    border-color: #1D3557;
    /* Slightly darker teal border */
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-custom:hover,
.btn-custom.active {
    background-color: #e63946;
    /* Darker shade on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add box shadow on hover */
    color: white;
}

@media (max-width: 550px) {

    .table th,
    .table td {
        font-size: 1.6vh;
        /* Adjust font size for smaller screens */
    }

    .table thead {
        font-size: 1.8vh;
        /* Adjust font size for thead for smaller screens */
    }
}

input {
    font-family: "Kanit", sans-serif;
    border: 1px solid #1D3557;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #66afe9;
    /* Change border color on focus */
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    /* Add glow effect */
    outline: none;
    /* Remove default outline */
}

#welcomeMessage {
    font-size: 40px;
    width: 100%;
    margin: 0% 0%;
    text-align: center;
    color: #1D3557;
    margin-top: .5%;
    margin-bottom: 1%;
    background-color: #f1faee;
}

/* Navbar */
/*#mainNavbar {
    background-color: #457B9D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}*/

/* Navbar title */
/*#mainNavbar .navbar-brand {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px;
}

/* Navbar btn 
#mainNavbar .navBar.nav-item.nav-link.btn-lg {
    background-color: #95060a;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
}

/* Button hover color 
#mainNavbar .navBar.nav-item.nav-link.btn-lg:hover {
    background-color: #7e0508;
}*/

/* Title */
#title {
    font-size: 40px;
    width: 100%;
    margin: 0% 0%;
    text-align: center;
    color: #333;
}

/* Form */

form {
    background-color: #A8DADC;
}

form div,
label {
    background-color: #A8DADC;
}

main {
    padding: 20px;
    background-color: #f1faee;
}

/* background-color: of the form */
.container {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;

}

/* Button */
.buttons {
    font-size: 1em;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: #95060a;
    color: white;
    margin: 10px, auto;
    cursor: pointer;
}

/* Button hover color */
.buttons:hover {
    background-color: #7e0508;
    color: #FFFFFF;
    opacity: 50%;
}

/* Button container to center the button */
.button-container {
    text-align: center;
    margin-top: 10px;
}

/* Form */
input[type="text"],
input[type="password"],
input[type="email"] {
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin: 10px auto;
    display: block;
    padding: 2px 0;
    font-family: "Kanit", sans-serif;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

/* Table border */
table,
th,
td {
    border: 1px solid #ddd;
}

/* Table cell padding */
th,
td {
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
}

/* Table cell colors*/
th {
    background-color: #457B9D;
    color: white;
}

/*Toggle button for responsive navbar*/
.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #457B9D;
}

.addContact,
.aboutUs {
    margin-right: 3%;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: end;
    }

    .navbar-links .d-flex {
        flex-direction: column;
        width: 100%;
        align-items: end;

    }

    .navbar-links .d-flex a,
    .navbar-links a {
        width: auto;
        text-align: center;
        margin: 0;
        margin-bottom: 1%;
    }
}