body {
    background-color: #f1faee;
    font-family: "Kanit", sans-serif;
}

nav {
    background-color: #457B9D;
}

nav .navBar {
    color: white;
    font-size: 2.3vh;
}

.btn-custom {
    background-color: #c6303c;
    /* Deep teal background */
    border-color: #1D3557;
    /* Slightly darker teal border */
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-left: auto;
    /* Push the button to the right */
    padding-right: 20px;
    /* Add right padding */
}

.btn-custom:hover {
    background-color: #e63946;
    /* Darker shade on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add box shadow on hover */
    color: white;
}

h1 {
    font-size: 5.5vmin;
    color: #1D3557;
}

span {
    color: #457B9D;
}

.temp {
    display: flex;
    align-items: flex-start;
    /* AligŒn items to the top */
    justify-content: center;
    min-height: 90vh;
    padding-top: 30vh;
    /* text distance from top of page (adjust as needed) */
}

.navbar-brand {
    height: 100%;
}

.navbar-brand img {
    height: 100%;
    width: auto;
}