body {
    background-color: #f1faee;
    font-family: "Kanit", sans-serif;

}

nav {
    background-color: #457B9D;
}

nav .navBar {
    color: white;
}

.btn-custom {
    background-color: #E63946;
    /* Deep teal background */
    border-color: #1D3557;
    /* Slightly darker teal border */
}


h1 {
    font-size: 5.5vmin;
    color: #1D3557;
}

span {
    color: #457B9D;
}