swagger: "2.0"
info:
  description: This is the API documentation for the CityFolk Contacts App
  version: 1.0.0
  title: CityFolk Contacts App
  contact:
    email: Richard.Leinecker@ucf.edu
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

host: cityfolk.world
basePath: /LAMPAPI
schemes:
  - http

paths:
  /Login.php:
    post:
      tags:
        - Users
      summary: Logs in to the Contacts app
      operationId: dlLogin
      description: Logs in to Contacts app
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: loginItem
          description: Login
          schema:
            $ref: "#/definitions/Login"
      responses:
        200:
          description: OK
        404:
          description: URL Not Found
        500:
          description: Server Error
  /Register.php:
    post:
      tags:
        - Users
      summary: Registers a new user
      operationId: registerUser
      description: Registers a new user in the contacts app
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: registerItem
          description: User registration details
          schema:
            $ref: "#/definitions/Register"
      responses:
        200:
          description: OK
        404:
          description: URL Not Found
        500:
          description: Server Error
  /AddContacts.php:
    post:
      tags:
        - Contacts
      summary: Adds a new contact
      operationId: addContact
      description: Adds a new contact for the logged-in user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: contactItem
          description: Contact details
          required: true
          schema:
            $ref: "#/definitions/Contact"
      responses:
        200:
          description: Contact added successfully
          schema:
            type: object
            properties:
              error:
                type: string
                example: ""
        400:
          description: Contact already exists
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Contact already exists"
        404:
          description: URL Not Found
          schema:
            type: object
            properties:
              error:
                type: string
                example: "URL Not Found"
        500:
          description: Server Error
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Server Error"
  /EditContacts.php:
    post:
      tags:
        - Contacts
      summary: Edits an existing contact
      operationId: editContact
      description: Edits a contact's information for the logged-in user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: contactItem
          description: Contact details to be edited
          required: true
          schema:
            $ref: "#/definitions/Contact"
      responses:
        200:
          description: Contact edited successfully
          schema:
            type: object
            properties:
              error:
                type: string
                example: ""
        400:
          description: Bad request, such as invalid input
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Bad Request"
        404:
          description: Contact not found or does not belong to the user
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Contact not found or does not belong to the user."
        500:
          description: Server Error
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Server Error"
  /DeleteContacts.php:
    post:
      tags:
        - Contacts
      summary: Deletes an existing contact
      operationId: deleteContact
      description: Deletes a contact for the logged-in user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: contactItem
          description: Contact details to be deleted
          required: true
          schema:
            $ref: "#/definitions/DeleteContact"
      responses:
        200:
          description: Contact deleted successfully
          schema:
            type: object
            properties:
              error:
                type: string
                example: ""
        400:
          description: Bad request, such as invalid input
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Bad Request"
        404:
          description: Contact not found or does not belong to the user
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Contact not found or does not belong to the user."
        500:
          description: Server Error
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Server Error"
  /SearchContacts.php:
    post:
      tags:
        - Contacts
      summary: Searches for contacts
      operationId: searchContacts
      description: Searches for contacts by name, phone, or email for the logged-in user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: searchItem
          description: Search query
          required: true
          schema:
            $ref: "#/definitions/SearchContact"
      responses:
        200:
          description: Search completed successfully
          schema:
            type: object
            properties:
              results:
                type: array
                items:
                  type: object
                  properties:
                    ID:
                      type: integer
                    FirstName:
                      type: string
                    LastName:
                      type: string
                    Phone:
                      type: string
                    Email:
                      type: string
              error:
                type: string
                example: "Search Completed"
        404:
          description: No records found
          schema:
            type: object
            properties:
              error:
                type: string
                example: "No Records Found"
        500:
          description: Server Error
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Server Error"
definitions:
  Login:
    type: object
    required:
      - login
      - password
    properties:
      login:
        type: string
        example: "fred"
      password:
        type: string
        example: "secret"
  Register:
    type: object
    required:
      - Login
      - Password
      - FirstName
      - LastName
    properties:
      Login:
        type: string
        example: "Hashy101"
      Password:
        type: string
        example: "password1!"
      FirstName:
        type: string
        example: "Hashim"
      LastName:
        type: string
        example: "Alkh"
  Contact:
    type: object
    required:
      - firstName
      - lastName
      - phone
      - email
      - userId
    properties:
      firstName:
        type: string
        example: "Jane"
      lastName:
        type: string
        example: "Smith"
      phone:
        type: string
        example: "555-123-4567"
      email:
        type: string
        example: "jane.smith@example.com"
      userId:
        type: integer
        example: 1
  DeleteContact:
    type: object
    required:
      - userId
      - firstName
      - lastName
    properties:
      userId:
        type: integer
        example: 1
      firstName:
        type: string
        example: "Jane"
      lastName:
        type: string
        example: "Smith"
  SearchContact:
    type: object
    required:
      - search
      - userId
    properties:
      search:
        type: string
        example: "Jane"
      userId:
        type: integer
        example: 1
